{{define "example.flow.root.go" }}
package main

import (
	"{{.RepoName}}/gen"
)

func init() {

    // define flow
	flow := gen.NewEmptyFlow(&IOHelper,
        "github.com/nerv/flowroot",  // repo name
        "root",                      // flow name
        []string{"request"},         // inputs
        []string{"content", "code"}, // outputs
    )

    // add input events
    flow.AddEvent(gen.NewInputEvent(
        "trig.request.get.out.req",
        "request",
    ))

    // add output events
    flow.AddEvent(gen.NewOutputEventVal(
        "trig.response.get.in.code",
        "code",
        200,
    ))
    flow.AddEvent(gen.NewOutputEventVal(
        "trig.response.get.in.message",
        "message",
        "Hello world",
    ))

    // register flow
	Gen.AddConfig(flow)
    
}
{{end}}
