{{define "example.full.servicecmd.go" }}
package main

import (
	"{{.RepoName}}/gen"
)

func init() {

	// define service
	service := gen.NewEmptyCmd(&Gen,
		"cmd",                        // service name
		"github.com/nerv/servicecmd", // repo name
	)

	// add command
	service.Set("figlet", "figlet $input")

	// register service
	Gen.AddConfig(service)

}
{{end}}
