{{define "example.flow.root.go" }}
package main

import (
	"{{.RepoName}}/gen"
)

func init() {

    // define flow
	flow := gen.NewEmptyFlow(&Gen,
        "github.com/nerv/flowroot",  // repo name
        "root",                      // flow name
        []string{"request"},         // inputs
        []string{"content", "code"}, // outputs
    )

    // add input events
    flow.AddInputEvent(
        "trig.request.get.out.req",
        "request",
    )

    // add output events
    flow.AddOutputEventVal(
        "trig.response.get.in.code",
        "code",
        200,
    )
    flow.AddOutputEventFunc(
        "trig.response.get.in.content",
        "request",
        "html",
        "CreateDefaultResponse",
        []string{},
    )

    // register flow
	Gen.AddConfig(flow)
    
}
{{end}}
