{{define "example.gosrvc.go" }}
package main

import (
	"{{.RepoName}}/gen"
)

func init() {

    // define service
	service := gen.NewEmptyGoService(&Gen,
        "html",                 // service name
        "github.com/nerv/html", // repo name
    )

    // add html.pre
    service.Set("pre", gen.NewFunction("html", "pre", 
        []string{"input"},  // inputs
        []string{"output"}, // outputs
        []string{},         // dependencies
    ))

    // register service
	Gen.AddConfig(service)

}
{{end}}
