{{define "example.flow.root.go" }}
package main

import (
	"{{.RepoName}}/gen"
)

func init() {

    // define flow
	flow := gen.NewEmptyFlow(&Gen,
        "github.com/nerv/flowroot",  // repo name
        "root",                      // flow name
        []string{"request"},         // inputs
        []string{"request", "code"}, // outputs
    )

    flow.AddEventVal(
        "trig.request.get.out.req",  // whenever get `request.get.out.req`
        "trig.response.get.in.code", // prepare reply to `respose.get.in.code`
        "code",                      // the variable name is `code`
        200,                         // and it's value is 200
    )

    flow.AddEventFunc(
        "trig.request.get.out.req",     // whenever get `request.get.out.req`
        "trig.response.get.in.content", // prepare reply to `response.get.in.content`
        "content",                      // the variable name is `content`, and we get it's value by running a function
        "html",                         // function's package is `html`
        "CreateDefaultResponse",        // function's name is `CreateDefaultResponse`
        []string{},                     // and the function has no dependency to other source code
    )

    // register flow
	Gen.AddConfig(flow)
    
}
{{end}}
