{{ define "example.full.flowroot.go" }}
package main

import (
	"{{ .RepoName }}/gen"
)

func init() {

	// define flow
	flow := gen.NewEmptyFlow(&Gen,
		"github.com/nerv/flowroot",  // repo name
		"root",                      // flow name
		[]string{"content", "code"}, // inputs
		[]string{"content", "code"}, // outputs
	)

	// get http request from "/" and send 200 as http response's code
	flow.AddEvent(gen.Event{
		InputEventName:  "trig.request.get.out",
		UseValue:        true,
		Value:           200,
		VarName:         "code",
		OutputEventName: "trig.response.get.in.code",
	})

	// get http request from "/" run html.CreateDefaultResponse, and use it's return value as http response's content
	flow.AddEvent(gen.Event{
		InputEventName:  "trig.request.get.out",
		UseFunction:     true,
		FunctionPackage: "html",
		FunctionName:    "CreateDefaultResponse",
		VarName:         "content",
		OutputEventName: "trig.response.get.in.content",
	})

	// register flow
	Gen.AddConfig(flow)
	
}
{{ end }}
