{{define "example.flow.banner.go" }}
package main

import (
	"{{.RepoName}}/gen"
)

func init() {

    // define flow
	flow := gen.NewEmptyFlow(&IOHelper,
        "github.com/nerv/flowbanner", // repo name
        "banner",                     // flow name
        []string{"request"},          // inputs
        []string{"content", "code"},  // outputs
    )

    // add input events
    flow.AddInputEvent(
        "trig.request.get.banner.out.req",
        "request",
    )

    // once we are able to extract `text` from `request` send it to `cmd.figlet`
    flow.AddOutputEvent(
        "srvc.cmd.figlet.in.input",
        "request.form.text.0",
    )

    // once we get result from `cmd.figlet`, store it it as `figletOut`
    flow.AddInputEvent(
        "srvc.cmd.get.out.output",
        "figletOut",
    )

    // once we get `figletOut`, send it to `html.pre`
    flow.AddOutputEvent(
        "srvc.html.pre.in.input",
        "figletOut",
    )

    // once we get result from `html.pre`, store it as `preOut`
    flow.AddInputEvent(
        "srvc.html.pre.out.output",
        "preOut",
    )

    // once we get `preOut`, set it as response's message and set response code to 200
    flow.AddOutputEvent(
        "trig.response.get.banner.in.message",
        "preOut",
    )
    flow.AddOutputEventVal(
        "trig.response.get.banner.in.code",
        "code",
        200,
    )

    // however, if `cmd.figlet` or `html.pre` give us error, catch it and stop there
    flow.AddInputEvent(
        "srvc.cmd.figlet.err.message",
        "errorMessage",
    )
    flow.AddInputEvent(
        "srvc.html.pre.err.message",
        "errorMessage",
    )
    flow.AddOutputEventVal(
        "trig.response.get.banner.in.code",
        "errorMessage",
        500,
    )
    flow.AddOutputEventVal(
        "trig.response.get.banner.in.message",
        "errorMessage",
        "Internal server error",
    )

    // register flow
	Gen.AddConfig(flow)
}
{{end}}
