{{define "example.cmd.go" }}
package main

import (
	"{{.RepoName}}/gen"
)

func init() {

    // define service
	service := gen.NewEmptyCmd(&IOHelper,
        "cmd",                 // service name
        "github.com/nerv/cmd", // repo name
    )

    // add command
    service.Set("banner", "figlet $input")

    // register service
	Gen.AddConfig(service)

}
{{end}}
