{{define "main.go"}}
package main

import(
	"github.com/state-alchemists/ayanami/generator"
    "log"
    "os"
    "path/filepath"
    "runtime"
)

var _, currentDirPath, _, ok = runtime.Caller(0)
var projectPath = filepath.Dir(filepath.Dir(currentDirPath))

// Gen is our generator
var Gen = generator.NewGenerator()

// IOHelper is our helper
var IOHelper, err = generator.NewIOHelperByProjectPath(projectPath)

func main() {
    param := "build"
	if len(os.Args) > 1 {
		param = os.Args[1]
	}
    switch param {
    case "build":
        log.Println("[INFO] Building...")
        err := Gen.Build()
        if err == nil {
            log.Println("[INFO] Done...")
        } else {
            log.Printf("[ERROR] %s", err)
        }
    case "scaffold":
        log.Println("[INFO] Scaffolding...")
        err := Gen.Scaffold()
        if err == nil {
            log.Println("[INFO] Done...")
        } else {
            log.Printf("[ERROR] %s", err)
        }
    default:
        log.Println("[ERROR] Unrecognized command. Currently only support `build` and `scaffold`")
    }
}
{{end}}
