{{define "main.go"}}
package main

import(
	"fmt"
	"github.com/state-alchemists/ayanami/generator"
    "path/filepath"
    "os"
    "runtime"
)

var _, currentDirPath, _, ok = runtime.Caller(0)
var projectPath = filepath.Dir(filepath.Dir(currentDirPath))

// Gen is our generator
var Gen = generator.NewGenerator()

// IOHelper is our helper
var IOHelper, err = generator.NewIOHelperByProjectPath(projectPath)

func main() {
    param := "build"
	if len(os.Args) > 1 {
		param = os.Args[1]
	}
    switch param {
    case "build":
        Gen.Build()
    case "scaffold":
        Gen.Scaffold()
    default:
        fmt.Println("Unrecognized command. Currently only support `build` and `scaffold`")
    }
}
{{end}}
