{{ define "cmd.main.go" }}
package main

import (
	"github.com/state-alchemists/ayanami/config"
	"github.com/state-alchemists/ayanami/msgbroker"
	"github.com/state-alchemists/ayanami/service"
	"log"
)

// {{.MainFunctionName}} declaration
func {{.MainFunctionName}}() {
	serviceName := "{{.ServiceName}}"
	// define broker
	broker, err := msgbroker.NewNats(config.GetNatsURL())
	if err != nil {
		log.Fatal(err)
	}
	// define services
	services := service.Services{ {{ range $methodName, $command := .Commands }}
        service.NewCmd(serviceName, "{{$methodName}}",
			[]string{"/bin/sh", {{$command}}},
		),{{ end }}
	}
	// consume and publish forever
	ch := make(chan bool)
	services.ConsumeAndPublish(broker, serviceName)
	<-ch
}
{{ end }}
