{{ define "cmd.main.go" }}
package main

import ({{ if eq .MainFunctionName "main" }}
	"github.com/state-alchemists/ayanami-service-go/config"{{ end }}
	"github.com/state-alchemists/ayanami-service-go/msgbroker"
	"github.com/state-alchemists/ayanami-service-go/service"{{ if eq .MainFunctionName "main" }}
	"log"{{ end }}
)

// {{.MainFunctionName}} declaration
func {{.MainFunctionName}}({{ if ne .MainFunctionName "main" }}broker msgbroker.CommonBroker{{ end }}) {
	serviceName := "{{.ServiceName}}"{{ if eq .MainFunctionName "main" }}
	// define broker
	broker, err := msgbroker.NewNats(config.GetNatsURL())
	if err != nil {
		log.Fatal(err)
	}{{ end }}
	// define services
	services := service.Services{ {{ range $methodName, $command := .Commands }}
		service.NewCmd(serviceName, "{{ $methodName }}",
			[]string{"/bin/sh", "-c", {{ $command }}},
		),{{ end }}
	}
	// consume and publish forever
	forever := make(chan bool)
	services.ConsumeAndPublish(broker, serviceName)
	<-forever
}
{{ end }}
