{{ define "flow.function.go" }}
package {{.FunctionPackage}}

// {{.FunctionName}} declaration
func {{.FunctionName}}(oldValue interface{}) interface{} {
    var newValue interface{}
    // TODO: replace this
    newValue = oldValue
    return newValue
}
{{end}}
