{{ define "flow.function.go" }}
package {{.PackageName}}

func {{.FunctionName}}(oldValue interface{}) interface{} {
    var newValue interface{}
    // TODO: replace this
    newValue = oldValue
    return oldValue
}
{{end}}
