{{ define "gateway.main.go" }}
package main

import (
	"github.com/state-alchemists/ayanami/config"
	"github.com/state-alchemists/ayanami/gateway"
	"github.com/state-alchemists/ayanami/msgbroker"{{ if eq .MainFunctionName "main" }}
	"log"{{ end }}
)

// {{.MainFunctionName}} declaration
func {{.MainFunctionName}}({{ if ne .MainFunctionName "main" }}broker msgbroker.CommonBroker{{ end }}) {
	routes := []string{ // define your routes here{{range .Routes}}
		"{{.}}",{{end}}
	}{{ if eq .MainFunctionName "main" }}
	broker, err := msgbroker.NewNats(config.GetNatsURL())
	if err != nil {
		log.Fatal(err)
	}{{ end }}
	port := config.GetGatewayPort()
	multipartFormLimit := config.GetGatewayMultipartFormLimit()
	gateway.Serve(broker, port, multipartFormLimit, routes)
}
{{ end }}
