{{ define "gomonolith.main.go" }}
package main

import({{ if eq .Broker "nats" }}
	"github.com/state-alchemists/ayanami-service-go/config"{{ end }}
	"github.com/state-alchemists/ayanami-service-go/msgbroker"
	"log"
)

func main() { {{ if eq .Broker "nats" }}
	broker, err := msgbroker.NewNats(config.GetNatsURL()){{ else }}
	broker, err := msgbroker.NewMemory(){{ end }}
	if err != nil {
		log.Fatal(err)
	}
	forever := make(chan bool){{ range .Functions }}
	go {{ . }}(broker){{ end }}
	<-forever
}
{{ end }}
