{{ define "gosrvc.function.go" }}
package {{.FunctionPackage}}

import (
	"github.com/state-alchemists/ayanami/service"
)

func {{.FunctionDeclaration}} {
    return {{.FunctionReturn}}
}

func Wrapped{{.FunctionName}}(inputs service.Dictionary) (service.Dictionary, error) {
    outputs := make(service.Dictionary){{ range .Inputs }}
    {{.}} := inputs.Get("{{.}}"){{end}}
    {{.FunctionAssignment}}{{ range .Outputs }}
    outputs.Set("{{.}}", {{.}}){{ end }}
    return outputs, nil
}
{{end}}
