{{ define "srvc.main.go" }}
package {{.PackageName}}

import (
	"github.com/state-alchemists/ayanami/config"
	"github.com/state-alchemists/ayanami/msgbroker"
	"github.com/state-alchemists/ayanami/service"
	"log"{{ range .Packages }}
    "{{.PackageName}}/{{.}}"{{ end }}
)

func main() {
	serviceName := "{{.ServiceName}}"
	// define broker
	broker, err := msgbroker.NewNats(config.GetNatsURL())
	if err != nil {
		log.Fatal(err)
	}
	// define services
	services := service.Services{ {{ range $methodName, $function := .Functions }}
        service.NewService(serviceName, "{{$methodName}}",
			[]string{ {{$function.JoinedInputs}} },
			[]string{ {{$function.JoinedOutputs}} },
			{{$function.FunctionPackage}}.Wrapped{{$function.FunctionName}},
		),{{end}}
	}
	// consume and publish forever
	ch := make(chan bool)
	services.ConsumeAndPublish(broker, serviceName)
	<-ch
}
{{end}}
